/* #menu {
    display: flex;
    justify-content: center;
} */

#content {
    font-family: 'EB Garamond';
    opacity: 0;
    width: 100%;
}

#menu {
    width: 100%;
}

h1 {
    text-align: center;
}

#heading {
    font-family: 'EB Garamond';
    /* align-self: start;
    padding-left: 20px;
    justify-self: left;
    z-index: 5; */
    color: rgb(20, 100, 0);
    opacity: 0.8;
    cursor: default;
}

#extra-menu {
    align-self: start;
    z-index: 5;
}

#extra-menu {
    justify-self: left;
    padding-left: 10px;
    display: flex;
    align-items: baseline;
}

#extra-menu ul {
    display: flex;
    gap: 20px;
}

#extra-menu a {
    color: green;
    text-decoration: underline;
    cursor: default;
    font-size: 20px;
    font-family: 'EB Garamond';
}

#extra-menu a:hover {
    opacity: 0.8;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-self: start;
    padding-right: 55px;
    padding-top: 45px;
    z-index: 5;
    gap: 15px;
}

#heading:hover {
    opacity: 0.5;
}

.stack {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    /* Centers all children */
}

.stack>* {
    grid-area: 1 / 1;
    /* Put every child in the same grid cell */
}