/* #menu {
    display: flex;
    justify-content: center;
} */

#content {
    font-family: 'EB Garamond';
    opacity: 0;
    width: 50%;
    position: absolute;
}

#menu {
    width: 100%;
    height: 950px;
    position: absolute;
    left: 50%;
}

h1 {
    text-align: center;
}

#heading {
    font-family: 'EB Garamond';
    /* align-self: start;
    padding-left: 20px;
    justify-self: left;
    z-index: 5; */
    color: rgb(20, 100, 0);
    opacity: 0.8;
    padding: 0px;
    margin: 0px;
    cursor: default;
}

#extra-menu {
    align-self: start;
    z-index: 5;
}

#extra-menu {
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    align-items: baseline;
}

#extra-menu ul {
    display: flex;
    gap: 20px;
}

#extra-menu a {
    color: green;
    text-decoration: underline;
    cursor: default;
    font-size: 20px;
    font-family: 'EB Garamond';
}

#extra-menu a:hover {
    opacity: 0.8;
}

#socials {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    z-index: 5;
    gap: 15px;
}

.social-icon {
    height: 30px;
}

#heading:hover {
    opacity: 0.5;
}

/* .stack {
    display: grid;
    place-items: center;
    box-sizing: border-box;
}

.stack>* {
    grid-area: 1 / 1;
} */